#topbar {height: 60px;
background-color: gray;}

#logo, #searchbar {display : inline-block;
vertical-align: middle;}

#searchbar {position: absolute;
	background-color: white;
margin-left: 15px;
position: relative;}

#bar {width: 600px;}

button {color: white;
	width: 30px;
	height: 30px;
  background-color: #4683EA;
  border: 1px solid #4285F4;}

#left {
  	width:150px;
  	height: 100%;
  	background-color: yellow;
  	clear: both;}